@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
.app-logo {
    background-image: url('./assets/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: visible;
    width: 54px;


    height: 54px;
    align-items: center;
   
}
.app-logo-alt {
    background-image: url('./assets/logo-alt.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: visible;
    width: 45px;
    filter: brightness(.9);
    transform: scale(.9) scaleX(1.1) translateY(.7em) translateX(-.75em);
    height: 45px;
    align-items: center;
   
}
.logo-text {
    font-size:clamp(12px,5vw,24px);
    font-weight: 600;
    padding-top:2px;
    z-index: 999;
    letter-spacing: -.25px;
    white-space: nowrap;
    font-family: 'Inter';
    text-shadow: 2px 4px 2px 4px rgba(0,0,0,0.25);
    transition: all 0.2s linear;
    background: -webkit-linear-gradient(right,rgb(238, 238, 238), rgb(210, 210, 210));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-text-container {

    display: flex;
    align-items: center;

   // gap:.5rem;
   padding-left: .25rem;
  //  background-color: red;
}
.logo-container {
    flex: 1;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
   // background-color: rgba(255, 0, 0, 0.139);
    min-width: 95vw;
    top:0;
    z-index: 999;
   // position: fixed;
    display: flex;
    height:5em;
    padding-left: 3.75em;
    
}
.landing-link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.navbar-wrapper {
    //background-color: rgba(46, 139, 86, 0.586);
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    background-color: rgba(31,32,35,.8);
    align-items: center;
    border-radius: 3.5rem;
    min-height: 3.5rem;
}
.navbar-content {
    display: flex;
    flex-direction: row;
    min-width: 96.5%;
    min-height: fit-content;
    margin-left: auto;
    margin-right: auto;
  
    border-radius: 3.5em;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
}